[submodule "dependencies/CDO-Shapes-PROV-O"]
	path = dependencies/CDO-Shapes-PROV-O
	url = https://github.com/Cyber-Domain-Ontology/CDO-Shapes-PROV-O.git
	branch = main
[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
	branch = master
